

.page-footer
    .page-section.page-section_bg_black
        .page-section__section
            .st-title.st-title_fz_16 Производственная компания &laquo;ЧЕРОН&raquo;
        .page-section__section
            .grid.grid_2el.grid_vam
                .grid__item
                    .page-footer__navs
                        .page-footer__navs-item
                            ul.nav-list
                                li.nav-list__item
                                    .nav-list-item
                                        i.nav-list-item__icon.icon-clock
                                        | с 9:00 до 18:00 <br/> в будние дни по Московскому времени
                                li.nav-list__item
                                    a(href='skype:cheronmebel').nav-list-item
                                        .nav-list-item__icon
                                            i.icon-skype
                                        .nav-list-item__content cheronmebel
                                li.nav-list__item
                                    a(href='mailto:info@cheron-mebel.ru').nav-list-item
                                        .nav-list-item__icon
                                            i.icon-mail
                                        .nav-list-item__content info@cheron-mebel.ru
                        .page-footer__navs-item
                            ul.nav-list
                                li.nav-list__item
                                    a(href='#').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-group
                                        .nav-list-item__content Отзывы
                                li.nav-list__item
                                    a(href='skype:cheronmebel').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-youtube-play
                                        .nav-list-item__content cheronmebel
                                li.nav-list__item
                                    a(href='mailto:info@cheron-mebel.ru').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-mail
                                        .nav-list-item__content info@cheron-mebel.ru
                .grid__item
                    .page-footer__soc
                        nav.soc-list
                            a(href='#').soc-list__link
                                .icon-odnoklassniki
                            a(href='#').soc-list__link
                                .icon-instagram
                            a(href='#').soc-list__link
                                .icon-vkontakte





    .page-footer__bottom-section

.page__menu.js-page-menu
    .page__menu-close
        button.close.close_green.js-page-menu-close
    ul.main-nav
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu8.svg').main-nav-item__link-icon
                .main-nav-item__link-text о компании
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu4.svg').main-nav-item__link-icon
                .main-nav-item__link-text Оборудование
        li.main-nav__item.main-nav-item.js-dropmenu
            button.main-nav-item__toggle-dropmenu.js-dropmenu-toggle
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu7.svg').main-nav-item__link-icon
                .main-nav-item__link-text Услуги
            .main-nav-item__dropmenu
                    ul.dropmenu-list
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Оборудование для приемки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Транспортное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Зерноочистительное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Зерносушильное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Аспирационное оборудование
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu5.svg').main-nav-item__link-icon
                .main-nav-item__link-text Реализованные проекты
        li.main-nav__item.main-nav-item.js-dropmenu
            button.main-nav-item__toggle-dropmenu.js-dropmenu-toggle
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu3.svg').main-nav-item__link-icon
                .main-nav-item__link-text сервис
            .main-nav-item__dropmenu
                ul.dropmenu-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu6.svg').main-nav-item__link-icon
                .main-nav-item__link-text новости
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/mobile-menu2.svg').main-nav-item__link-icon
                .main-nav-item__link-text Контакты



.page__overlay.js-popups-overlay.js-close-popups.js-close-menu
.page__popups.popups.js-popups
    .popups__popups-wrapper
        .popups__popup.popup(data-popup-name='city')
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .popup__header
                .st-title Укажите регион доставки
            .popup__content
                .st-form
                    .st-form__line
                        input(type='text' placeholder='Введите название населенного пункта' required).input
                    .st-form__line
                        b Популярные города
                    .st-form__line
                        ul.nav-list.nav-list_cities
                            li.nav-list__item
                                a(href='#').st-link Москва
                            li.nav-list__item
                                a(href='#').st-link Санкт-Петербург
                            li.nav-list__item
                                a(href='#').st-link Нижний Новгород
                            li.nav-list__item
                                a(href='#').st-link Хабаровск
                            li.nav-list__item
                                a(href='#').st-link Ростов-на-Дону
                            li.nav-list__item
                                a(href='#').st-link Набережные Челны

            .popup__footer
                button.st-button Запомнить выбор


        .popups__popup.popup.popup_video(data-popup-name='video')
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .proportional-box.proportional-box_video
                .proportional-box__content
                    iframe(frameborder="0" allowfullscreen).proportional-box__video.js-popup-video