.grid-nav
    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link-text Оборудование для приемки зерна

    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/service-icon2.svg').grid-nav-item__icon
                .grid-nav-item__link-text Транспортное оборудование
            button.grid-nav-item__toggle
            .grid-nav-item__dropbox
                .grid-nav-item__dropbox-content
                    ul.dropmenu-list.dropmenu-list_fz18
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины предварительной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины первичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины вторичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Фотосепараторы
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Самопередвижные сепараторы

    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/menu-icon8.svg').grid-nav-item__icon
                .grid-nav-item__link-text Зерноочистительное оборудование
    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/service-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link-text Зерносушильное оборудование
    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/grid-nav-icon2.svg').grid-nav-item__icon
                .grid-nav-item__link-text Оборудование для хранения зерна
            button.grid-nav-item__toggle
            .grid-nav-item__dropbox
                .grid-nav-item__dropbox-content
                    ul.dropmenu-list.dropmenu-list_fz18
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины предварительной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины первичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины вторичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Фотосепараторы
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Самопередвижные сепараторы
    .grid-nav__item
        .grid-nav-item
            a(href='#').grid-nav-item__link
                img(src='./images/icons/grid-nav-icon3.svg').grid-nav-item__icon
                .grid-nav-item__link-text Аспирационное оборудование
            button.grid-nav-item__toggle
            .grid-nav-item__dropbox
                .grid-nav-item__dropbox-content
                    ul.dropmenu-list.dropmenu-list_fz18
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины предварительной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины первичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Машины вторичной очистки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Фотосепараторы
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Самопередвижные сепараторы
