

.page-header
    .page-header__top-section
        .page-header__nav
            ul.main-nav
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        span.main-nav-item__link-text О компании
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        span.main-nav-item__link-text Партнерам и оптовикам
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        span.main-nav-item__link-text Контакты


        .page-header__address


        .page-header__hamburger
            button.hamburger.js-page-menu-open
                i.hamburger__line.hamburger__line_top
                i.hamburger__line
                i.hamburger__line.hamburger__line_bottom

    .page-header__middle-section
        .header-main-box
            .header-main-box__content
                .header-main-box__small-section
                    a(href='index.html').logo
                        span.logo__icon R
                        img(src='./images/icons/logo.svg' alt='Черон').logo__img
                        span.logo__text производственная компания
                .header-main-box__slogan
                    .slogan
                        p.slogan__title интернет-магазин
                        p.slogan__subtitle для тех, кто делает мебель своими руками
                .header-main-box__small-section
                    .header-main-box__phone 8 800 250 94 39
                    .header-main-box__basket
                        .header-basket
                            .header-basket__default
                                .header-basket__icon
                                    .icon-basket
                                .header-basket__text Корзина пуста
                            .header-basket__dropdown

    .page-header__bottom-section
        ul.main-nav
            li.main-nav__item.main-nav-item
                a(href='index.html').main-nav-item__link
                    span.main-nav-item__link-text Главная
            li.main-nav__item.main-nav-item.main-nav-item_dropmenu
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Продукция Черон
                .main-nav-item__dropmenu
                    ul.dropmenu-list
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Оборудование для приемки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Транспортное оборудование
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Доставка и оплата
            li.main-nav__item.main-nav-item
                a(href='shares.html').main-nav-item__link
                    span.main-nav-item__link-text Акции
            li.main-nav__item.main-nav-item
                a(href='reviews.html').main-nav-item__link
                    span.main-nav-item__link-text Отзывы о продукции
            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Видео инструкции
            li.main-nav__item.main-nav-item
                a(href='shops.html').main-nav-item__link
                    span.main-nav-item__link-text Адреса магазинов



