

header.page-header
    .page-header__top-section
        .page-header__nav
            ul.main-nav
                li.main-nav__item.main-nav-item
                    a(href='company.html').main-nav-item__link
                        span.main-nav-item__link-text О компании
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        span.main-nav-item__link-text Партнерам и оптовикам
                li.main-nav__item.main-nav-item
                    a(href='contacts.html').main-nav-item__link
                        span.main-nav-item__link-text Контакты
                li.main-nav__item.main-nav-item
                    a(href='promo.html').main-nav-item__link
                        span.main-nav-item__link-text Промо
                li.main-nav__item.main-nav-item
                    a(href='basket.html').main-nav-item__link
                        span.main-nav-item__link-text Корзина


        .page-header__address
            button(data-target-popup='city').icon-button.js-open-popup
                .icon-button__icon.icon-location
                p.icon-button__text Воронеж

        .page-header__hamburger
            button.hamburger.js-page-menu-open
                i.hamburger__line.hamburger__line_top
                i.hamburger__line
                i.hamburger__line.hamburger__line_bottom

    .page-header__middle-section
        .header-main-box
            .header-main-box__content
                .header-main-box__small-section
                    a(href='index.html').logo
                        span.logo__icon R
                        img(src='./images/icons/logo.svg' alt='Черон').logo__img
                        span.logo__text производственная компания
                .header-main-box__slogan
                    .slogan
                        p.slogan__title интернет-магазин
                        p.slogan__subtitle для тех, кто делает мебель своими руками
                .header-main-box__small-section
                    .header-main-box__phone 8 800 250 94 39
                    .header-main-box__basket
                        .header-basket.js-header-basket
                            .header-basket__default
                                .header-basket__icon
                                    .icon-basket
                                .header-basket__text Корзина пуста
                            .header-basket__dropdown
                                .basket-box
                                    .basket-box__close
                                        button.btn-close.btn-close_circle
                                    .basket-box__header
                                        .st-title.ttu Корзина
                                    .basket-box__products
                                        .products-list.products-list_header-card
                                            .products-list__item
                                                .products-list-item.products-list-item_header-card
                                                    img(src='./images/products/product1.jpg').products-list-item__image
                                                    .products-list-item__text Мебельный кондуктор "угольник" шаг 25/50 диаметр втулки 7мм. Можно ставить шканты
                                                    .products-list-item__close
                                                        button.btn-close.btn-close_bg_gray
                                            .products-list__item
                                                .products-list-item.products-list-item_header-card
                                                    img(src='./images/products/product1.jpg').products-list-item__image
                                                    .products-list-item__text Мебельный кондуктор "угольник" шаг 25/50 диаметр втулки 7мм. Можно ставить шканты
                                                    .products-list-item__close
                                                        button.btn-close.btn-close_bg_gray
                                            .products-list__item
                                                .products-list-item.products-list-item_header-card
                                                    img(src='./images/products/product1.jpg').products-list-item__image
                                                    .products-list-item__text Мебельный кондуктор "угольник" шаг 25/50 диаметр втулки 7мм. Можно ставить шканты
                                                    .products-list-item__close
                                                        button.btn-close.btn-close_bg_gray
                                    .basket-box__price-box
                                        .basket-box__price-box-left
                                            .basket-box__price-box-title Итого:
                                            .basket-box__price-box-number 120 000 руб.
                                        .basket-box__price-box-right
                                            .st-button перейти в корзину
                                    .basket-box__footer
                                        .st-text
                                            p
                                                b Внимание !
                                            p
                                                | ПОДАРОК
                                                |
                                                a(href='#') МШ-746
                                                |
                                                | при сумме разаказа 3 000 р.
                                            p
                                                | ПОДАРОК
                                                |
                                                a(href='#') МШ-746
                                                |
                                                | при сумме разаказа 3 000 р.

    .page-header__bottom-section
        ul.main-nav
            li.main-nav__item.main-nav-item
                a(href='index.html').main-nav-item__link
                    span.main-nav-item__link-text Главная
            li.main-nav__item.main-nav-item.main-nav-item_dropmenu
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Продукция Черон
                .main-nav-item__dropmenu
                    .main-nav-dropmenu
                        .main-nav-dropmenu__header
                            .main-nav-dropmenu__header-item Кондукторы и шаблоны
                            .main-nav-dropmenu__header-item Для мебельного производства
                            .main-nav-dropmenu__header-item Оборудование Черон
                            .main-nav-dropmenu__header-item Новинка!
                        .main-nav-dropmenu__main
                            .main-nav-dropmenu__main-item
                                ul.nav-list
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                            .main-nav-dropmenu__main-item
                                ul.nav-list
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                            .main-nav-dropmenu__main-item
                                ul.nav-list
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                                    li.nav-list__item
                                        a(href='#').st-link Для мебельных стяжек
                            .main-nav-dropmenu__main-item
                                article.product-item.product-item_new
                                    .product-item__image-box
                                        .proportional-box
                                            img(src='./images/shares1.jpg').proportional-box__image
                                    .product-item__section
                                        .product-item__descr Мебельный кондуктор система "32" диаметр втулки 7 мм. МОЖНО СТАВИТЬ ШКАНТЫ 7х30
                                    .product-item__section.tac
                                        a(href='#').st-button Смотреть

            li.main-nav__item.main-nav-item
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Доставка и оплата
            li.main-nav__item.main-nav-item
                a(href='shares.html').main-nav-item__link
                    span.main-nav-item__link-text Акции
            li.main-nav__item.main-nav-item
                a(href='reviews.html').main-nav-item__link
                    span.main-nav-item__link-text Отзывы о продукции
            li.main-nav__item.main-nav-item
                a(href='videos.html').main-nav-item__link
                    span.main-nav-item__link-text Видео инструкции
            li.main-nav__item.main-nav-item
                a(href='shops.html').main-nav-item__link
                    span.main-nav-item__link-text Адреса магазинов



