include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/components/breadcrumbs.pug
include pug/components/productItem

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Карточка товара')
        include pug/styles.pug

    body
        .page.container
            include pug/components/header

            main.page__main
                .page-section
                    .page-section__section.page-section__section_mb_45
                        +breadcrumbs('О компании')

                    .page-section__section
                        h1.st-title.ttu О компании черон

                    .page-section__section
                        .st-text.st-text_large_margin
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.

                    .page-section__section
                        h2.st-title.ttu.tac Про кондукторы черон

                    .page-section__section
                        .container.container_w_900
                            .proportional-box.proportional-box_video
                                .proportional-box__content
                                    iframe(src="https://www.youtube.com/embed/9qMpqiuQ_Gg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen).proportional-box__video

                    .page-section__section
                        .st-text.st-text_large_margin
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.
                            p С 1999 года наша компания занимается производством мебели. И еще в самом начале мы столкнулись с необходимостью облегчить и упростить некоторые операции. Будь-то постановка ручек на дому у заказчика или установка ответной планки внутренней мебельной петли, да и многое другое.






            include pug/components/footer


        include pug/scripts.pug

